header{
    display: flex;
    flex-direction: column;
}
.pc-menu {
    display: flex;
    align-items: center;
    height: 60px;
    border-bottom: 1px solid lightgray;
}
.mobile-menu {
    display: flex;
    flex-direction: column;
    background-color: white;
    border-bottom: 1px solid lightgray;
}
.mobile-menu a {
    padding: 15px;
    padding-left: 20px;
    font-weight: 300;
}
.mobile-menu a:not(:last-child) {
    border-bottom: 1px solid lightgray;
}
header a {
    text-decoration: none;
    color: black;
}
.header-logo {
    margin-left: 20px;
    flex: 1;
    font-size: 1.5rem;
}
.header-menu {
    margin-right: 20px;
    display: flex;
    flex: 1;
    justify-content: flex-end;
    align-items: center;
}
.header-menu a {
    margin-right: 20px;
}
/* HAMBURGER */
.header-logo span {
    display: none;
    cursor: pointer;
    margin-right: 15px;
}

@media screen and (max-width: 768px) {
    .header-logo {
        display: flex;
        justify-content: space-between;
    }
    .header-logo label {
        display: block;
    }
    .header-menu {
        display: none;
    }
    .mobile-menu a:hover {
        background-color: #efefef;
    }
    .header-logo span {
        display: block;
    }
    /*
    #toggle:checked + .mobile-menu {
        display: flex;
    }
    */
}