.section-about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.about-left img {

    width: 49vh;
  
}
.about-right {
   margin: 15px;
}
.about-right span {
    font-weight: 100;
    font-size: 0.9rem;
    display: block;
    margin-bottom: 10px;
}
.about-right span a {
    color: blue;
}