.section-home {
    display: flex;
    flex-shrink: 0;
    flex-wrap: wrap;
    justify-content: center;
    position: relative;
}
.section-wrap {
    height: auto;
}
.menubox {
    height: 350px;
    width: 300px;
    margin: 20px;
    border: 0px solid lightgray;
    border-radius: 0.5rem;
    background-color: white;
    padding: 10px;

    -moz-box-shadow: 0px 5px 5px lightgray;
    -webkit-box-shadow: 0px 5px 5px lightgray;
    box-shadow: 0px 5px 5px lightgray;
    overflow: auto;
}
.menubox-header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border-bottom: 0.2px solid lightgray;
}
.menubox-header a:first-child {
    font-size: 1.1rem;
    text-decoration: none;
    color: black;
}
.menubox-header a:first-child:hover {
    color: #4a53e0;
}
.menubox-header span:last-child {
    margin-top: 2px;
    margin-left: 10px;
    font-size: 0.5rem;
    border: 1px solid lightgray;
    border-radius: 0.2rem;
    padding: 4px;
    background-color: #4a53e0;
    color: white;
    cursor: pointer;
}
.menubox-body {
    margin-top: 10px;
    font-weight: 100;
    font-size: 0.8rem;
}
.menubox-dorm {
    min-height: 100px;
    overflow: hidden;
}
/* MENUBOX - DATE */
.menubox-date {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    font-size: 0.9rem;
    border-bottom: 0.2px solid lightgray;
    padding: 10px;
}
.menubox-date span {
    font-size: 0.7rem;
}
.menubox-date span:nth-child(2) {
    margin-bottom: 10px;
}