.footer {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    font-weight: 100;
    font-size: 0.8rem;
    border-top: 1px solid lightgray;
}
.footer p:first-child {
    margin-bottom: -10px;
}
.footer a {
    text-decoration: none;
}
.footer a:visited {
    color: black;
}
.footer a:hover {
    text-decoration: underline;
    color: darkblue;
}