@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);
html, body {
    width: auto;
    height: auto;
    margin: 0;
    font-family: 'Noto Sans KR', sans-serif;
}
#root {
    height: 100%;
}
.App {
    height: 100%;
}
section {
    background-color: #efefef;
    min-height: 100%;
}